<launch>
<!-- joy node -->
  <node respawn="true" pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" type="string" value="/dev/input/js0"/>
    <param name="deadzone" value="0.2" />
    <param name="autorepeat_rate" type="double" value="0"/>

<!-- Axes -->
  <param name="linear_axis" value="1" type="int"/>  
  <param name="angular_axis" value="0" type="int"/>
 </node>

<node pkg="mixed_initiative_teleop" type="mixed_initiative_teleop_node" name="mi_teleop" output="screen">
</node>

</launch>
